{{> head}}
<body>

  {{> navbar}}

  <div class="about">
    <h1>About page</h1>
    <h5>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repellendus amet voluptatum autem tempore dolores delectus quo,
       expedita dolore tempora illum maiores sunt commodi perspiciatis id perferendis. Quis, temporibus quos?
     </h5>
  </div>

  {{> footer }}

</body>
</html>